* {
  font-size: 16px;
  font-family: verdana;
}

body {
  padding: 0;
  margin: 0;
}

.titre {
  float: left;
  margin: 25px;
  font-size: 25px;
  font-weight: bold;

}

#contenu {
  float: left;
  clear: both;
  margin: 25px;
  width: 400px;
  height: 350px;
  border: 1px black solid;


}

textarea{
  float: left;
  clear: both;
  width: 350px;
  height: 50px;
  border: 1px black solid;
  border-radius: 4px;
  margin: 25px;
  margin-top: 0px;
  padding: 10px;
}

button {
  float: left;
  clear: both;
  margin: 25px;
  margin-top: 0px;
  background: #9b59b6;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}
